.divider {
	background-color: #DDD;
    height: 2px;
    width: 777px;
    margin: 25px 15px;
}

.head-info-button {
	margin-top: 20px;
}

.body-title-name h1 {
	margin-top: 0;
}

.body-title-button {
	text-align: right;
}

.data {
	margin-top: 28px;
	padding-left: 30px;
	padding-right: 30px;
}